@font-face {
	font-family: AlbaMatter;
	src: url(./components/TTF/ALBAM___.TTF)
}
@font-face {
	font-family: AlbaRegular;
	src: url(./components/TTF/ALBA____.TTF)
}

@font-face {
	font-family: Dillan;
	src: url(./components/TTF/MADE\ Dillan\ PERSONAL\ USE.otf);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	list-style: none;
}


/* animations */

@keyframes slideInTop {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes slideInBottom {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes smallSlide {
	0% {
		transform: translateY(15%);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes fadeIn {
	0% { 
		opacity: 0; 
	}
	100% { 
		opacity: 1;
	}
}

@keyframes move {
	from {
		box-shadow: 0px 0px #D9A3AC;
	}
	to {
		box-shadow: 13px 13px #D9A3AC;
	}

	
}

/* Global styling */
.App {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	text-align: center;
	background-color: #F2DEDC;
	height: 100vh;
	width: 100vw;
	
}

body {
	min-height: 95vh;
	min-width: 100vw;
	line-height: 1;
	background-color: #F2DEDC;
	color: #f592c0;
}

/* h1 {
	color: #b03f76;
} */


/* home page */
.container {
	display: flex;
	flex-direction: column;
	position: relative;
	justify-content: space-evenly;
	text-align: left;
	color: #e20775;
	background-color: #F9D8E7
	
}

.image-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding-top: 20vh;
	animation: 2s fadeIn, 1.5s smallSlide;

}
	
.bio-container {
	padding-left: 3%;
		
}

.portrait {
	height: 500px;
	margin-top: 30px;
	animation: 5s move forwards;

}

.title {
	color: #A64962;
	font-family: AlbaMatter;
	font-size: 40px;
}

.data-wrangler-title {
	color: #A66F74;
	font-size: 35px;
	font-family: Dillan;
}

h1 {
	font-family: AlbaRegular;

}

h2 {
	font-family: AlbaRegular;
	font-size: 20px;
}

/* nav bar */


.nav-bar {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	
}

.nav-bar a {
	text-decoration: none;
	font-size: 30px;
	color: #A64962;
	transition: 0.5s;
	font-family: AlbaMatter;
	
}

.nav-bar a:hover {
	color: #ac96e8;
	font-size: 35px;
	transition: 0.5s;
	padding: 2rem;
}

a {
	text-decoration: none;
	color: #ff0909;
}
.nav-list {
	display: inline-block;
	padding: 10px 10px;
	animation: 1s ease-out 0s 1 slideInTop;
	
}

.list-item-1 {
	display: inline-block;
	padding: 10px 10px;
	animation: 0.5s ease-out 0s 1 slideInTop;
}
.list-item-2 {
	display: inline-block;
	padding: 10px 10px;
	animation: 1s ease-out 0s 1 slideInTop;
}
.list-item-3 {
	display: inline-block;
	padding: 10px 10px;
	animation: 1.5s ease-out 0s 1 slideInTop;
}
.list-item-4 {
	display: inline-block;
	padding: 10px 10px;
	animation: 2s ease-out 0s 1 slideInTop;
}
.list-item-5 {
	display: inline-block;
	padding: 10px 10px;
	animation: 2.5s ease-out 0s 1 slideInTop;
}
.list-item-6 {
	display: inline-block;
	padding: 10px 10px;
	animation: 3s ease-out 0s 1 slideInTop;
}


/* footer */

.footer-list {
	align-items: center;
	font-size: 18px;
	animation: 2s fadeIn;
}

.ul-footer {

}

.footer-links {
	
}

.link-logo {
	width: 30px;
}

.footer-links a {
	list-style: none;
	padding: 10px;
	animation: 1s ease-out 0s 1s slideInBottom;
	color: #A64962;
	font-family: Dillan;

}

/* about */

.image-container-about {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	animation: 3s fadeIn, 2s smallSlide;
	}

	.about-paragraph {
		text-align: left;
		padding: 1rem;
		line-height: 2;
		color: #a74962

	}

	h2 {
		color: #a74962
	}

	.about-header {
		padding-top: 1rem;
		color: #a74962;
	}



	.about-link {
		font-size: 15px;
		color: rgb(156, 120, 120);
		text-decoration: underline;
	}
	ul.skills-list {
		display: grid;
		grid-template-columns: repeat(2, minmax(140px, 200px));
		padding: 0px;
		margin: 20px 0px 0px;
		overflow: hidden;
		color: #a74962

	}

	.studies-body {
		height: 95vh;
		width: 100vw;;
	}

	.resume-body {
		height: 95vh;
		width: 100vw;;
	}

	.piano-pic {
		height: 500px;
		animation: 5s move forwards;
	}

	.about-paragraph {
		margin-left: 30vw;
		margin-right: 30vw;
	}
	
	ul.skills-list {
		display: grid;
		grid-template-columns: repeat(2, minmax(140px, 200px));
		padding: 0px;
		margin: 20px 0px 0px;
		overflow: hidden;
		padding-bottom: 2rem;

	}

	.skills-list li {
		padding: 2px;
		transition: 0.3s;
	}


	.projects-div {
		min-height: 89vh;
	
	}

	.footer-list {
		font-size: 18px;
		animation: 2s fadeIn;
		position: absolute;
	}

	.ul-footer {
		display: flex;
		justify-content: left;
		padding-top: 12rem;

	}


@media all and (max-width: 800px) {
	
	/* home page */
	.nav-list {
		width: 100%;
		padding-top: 20px;
		
	}

	.nav-bar a {
		text-decoration: none;
		font-size: 20px;
		color: #A64962;
		transition: 0.5s;
		font-family: AlbaMatter;
		
	}

	.container {
		text-align: center;

	}

	.portrait {
		height: 300px;
		position: absolute;
	}

	.image-container {
		flex-direction: column;
		padding-top: 10vh;
		
	}

	body {
		min-height: 89vh;
		min-width: 100vw;
		line-height: 1;
		color: #a66e74;
	}
	
	.title {
		animation: 5s fadeIn;
		padding-top: 1rem;
	}

	.data-wrangler-title {
		animation: 8s fadeIn;
	}

	/*about*/

	.about-body {
		height: 80vh;
	}

	.piano-pic {
		height: 200px;
	}

	.about-header {
		padding-top: 0rem;
	}

	.image-container-about {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 0vh;
	animation: 2s fadeIn, 1.5s smallSlide;
	}

	.about-paragraph {
		text-align: left;
		padding: 1rem;
		margin-left: 10px;
		margin-right: 10px;

	}

	ul.skills-list {
		display: grid;
		grid-template-columns: repeat(2, minmax(140px, 200px));
		padding: 0px;
		margin: 20px 0px 0px;
		overflow: hidden;
		list-style: none;

	}

	.projects-div {
		min-height: 90vh

	}

	.footer-list {
		font-size: 18px;
		animation: 2s fadeIn;
		position: unset;
	}

	.ul-footer {
		display: flex;
		justify-content: center;
		padding-top: 28rem;
	}


}

@media all and (max-width: 375px) {

	.App {
		height: 100vh
	}

	.nav-bar a {
		text-decoration: none;
		font-size: 20px;
		color: #A64962;
		transition: 0.5s;
		font-family: AlbaMatter;
		
	}

	.image-container {
		padding-top: 20px;
	}

	.about-body {
		height: 80vh;
		width: 100vw;
		padding-top: 0px;
	}

	.image-container-about {
		padding-top: 0px;
	}

	.bio-container-about {
		height: 71vh;
		padding-top: 0px;
	}
}
